<!DOCTYPE html>
<html class="h-100">
  <head>

    <title>FinApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script>
      var myCustomScrollbar = document.querySelector('.my-custom-scrollbar');
      var ps = new PerfectScrollbar(myCustomScrollbar);

      var scrollbarY = myCustomScrollbar.querySelector('.ps__rail-y');

      myCustomScrollbar.onscroll = function () {
        scrollbarY.style.cssText = `top: ${this.scrollTop}px!important; height: 400px; right: ${-this.scrollLeft}px`;
      }
    </script>

    <style>
      /* nav link */
      .nav > li > a       {color:#5D6D7E}
      .nav > li > a:hover {color:black}
      .nav > .active > a
      {
        color:black !Important;
        font-size: xx-large !Important
      }

      /* pagination */
      .pagination > li > a
      {
        background-color: white;
        color: black;
      }

      .pagination > li > a:focus,
      .pagination > li > a:hover,
      .pagination > li > span:focus,
      .pagination > li > span:hover
      {
        color: #B2BABB;
        background-color: #eee;
        border-color: #ddd;
      }

      .pagination > .active > a
      {
        color: white;
        background-color: #34495E !Important;
        border: solid 1px #34495E !Important
      }

      .pagination > .active > a:hover
      {
        background-color: #5D6D7E !Important;
        border: solid 1px #5D6D7E !Important
      }

      /* scrollbar */
      .my-custom-scrollbar {
        position: relative;
        height: 400px;
        overflow: auto;
        display: inline-block
      }

      /* fixed tablehead */
      .tableFixHead          { overflow: auto; height: 100px; }
      .tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

      table  { border-collapse: collapse}
      th, td { padding: 8px 16px; }
      th     { background: #f8f9fb !Important}

      /* buttons edit, destroy for models */
      .crud_button
      {
          display:inline-block;
          font-size: 11pt;
          text-align: center;
          padding:2px 6px;
          padding-right: 8px;
          padding-top: 2px;
      }
    </style>
  </head>

  <header class="d-flex flex-wrap justify-content-center py-3">
    <%= render "shared/header" %>
  </header>

  <body class="h-100 d-flex flex-column">
    <%= render "shared/body"%>
  </body>

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mt-auto">
    <%= render "shared/footer" %>
  </footer>

</html>
