<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :odate, style: "display: block" %>
    <%= form.date_select :odate %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>


  <div>
    <%= select(:operation, :category_id, options_for_select(@categories_options)) %>
    <%# <%= select(:operation, :category_id, options_for_select(@categories_options), { selected: options_for_select(@categories_options) } || nil ) %>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
